<%- include("../header"); %>
<div class="col-12">
    <br>
    <h1>Editar producto</h1>
    <form method="post" action="/productos/actualizar">

        <input value="<%= producto.id %>" name="id" type="hidden">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input value="<%= producto.nombre %>" required id="nombre" placeholder="Nombre del producto"
                class="form-control" type="text" name="nombre">
        </div>
		<div class="form-group">
            <label for="marca">Marca</label>
            <input value="<%= producto.marca %>" required id="marca" placeholder="Marca del producto"
                class="form-control" type="text" name="marca">
        </div>
		<div class="form-group">
            <label for="especificaciones">Especificaciones</label>
            <input value="<%= producto.especificaciones %>" required id="especificaciones" placeholder="Especificaciones del producto"
                class="form-control" type="text" name="especificaciones">
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input value="<%= producto.precio %>" required id="precio" placeholder="Precio del producto"
                class="form-control" type="number" name="precio">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/productos" class="btn btn-danger">Volver</a>
        </div>
    </form>
</div>
